<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="position-relative">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light pt-4 px-0">
          <button
            class="navbar-toggler border-0"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="material-icons text-white">
              dehaze
            </span>
          </button>
          <h1>
            <a
              class="navbar-brand font-raleway text-white text-lg-dark py-0"
              href="#"
              >Craftsman</a
            >
          </h1>

          <div
            class="collapse navbar-collapse flex-grow-0 ml-auto"
            id="navbarTogglerDemo03"
          >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link text-white py-0" href="#">Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white pl-7 py-0" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white pl-7 py-0" href="#">Contact</a>
              </li>
            </ul>
          </div>
          <span class="material-icons text-white pl-7">
            shopping_cart
          </span>
        </nav>
      </div>
    </header>
    <section class="banner container-fluid h-lg-auto mb-7 mb-lg-0">
      <div
        class="container d-flex flex-column justify-content-center vh-lg-100 h-100"
      >
        <div class="row">
          <div class="col-lg-6">
            <h2 class="text-white text-lg-dark text-center text-lg-left mb-4">
              Enjoy Your<br />
              Minimalist Lifestyle.
            </h2>
            <p
              class="text-lg-primary text-secondary text-center text-lg-left font-weight-600 mb-9"
            >
              The best crafts in Taiwan. Get your free<br />
              shipping on the first order.
            </p>
            <div>
              <button
                type="button"
                class="btn btn-success w-100 w-lg-0 py-3 px-6 font-weight-bold"
              >
                Shop now
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 bg-banner bottom-lg-0 h-lg-auto"></div>
      </div>
    </section>
    <%- contents %>

    <footer class="footer">
      footer
    </footer>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
