<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <header class="container">
      <nav class="navbar navbar-expand-lg navbar-light pt-4 px-0">
        <button
          class="navbar-toggler border-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="material-icons text-white page-dark">
            dehaze
          </span>
        </button>
        <h1>
          <a
            class="navbar-brand font-raleway text-white text-lg-dark page-dark py-0"
            href="index.html"
            >Craftsman</a
          >
        </h1>

        <div
          class="collapse navbar-collapse flex-grow-0 ml-auto"
          id="navbarTogglerDemo03"
        >
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a
                class="nav-link text-white page-product font-weight-600 py-0"
                href="product.html"
                >Product</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white page-dark font-weight-600 pl-7 py-0"
                href="#"
                >Blog</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-white page-dark font-weight-600 pl-7 py-0"
                href="#"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <a href="#">
          <span class="material-icons text-white page-dark pl-7">
            shopping_cart
          </span>
        </a>
      </nav>
    </header>
    <%- contents %>

    <footer class="footer">
      <section class="footer-img bg-cover">
        <div
          class="container d-flex flex-column justify-content-lg-center justify-content-between h-100 py-4"
        >
          <h3 class="text-white font-lg-7 mb-4 mb-lg-7">
            Subscribe for news <br />
            and special offers!
          </h3>
          <div class="input-group">
            <input
              type="text"
              class="form-control bg-transparent border-secondary border-right-0 p-5"
              placeholder="Your email address"
              aria-label="Your email address"
              aria-describedby="button-addon2"
            />
            <div class="input-group-append">
              <button
                class="btn btn-success px-3 px-md-6 py-3"
                type="button"
                id="button-addon2"
              >
                Subscribe
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-dark">
        <div class="container d-lg-flex py-lg-5">
          <h4 class="text-white h4 mb-0 mr-3 order-lg-1 pt-4 pt-lg-0">
            CRAFTsMAN
          </h4>
          <ul
            class="list-none d-lg-flex align-items-lg-center order-lg-3 p-0 my-7 my-lg-0"
          >
            <li class="text-light mr-7">Purchase Policy</li>
            <li class="text-light mr-7">Privacy Policy</li>
            <li class="text-light">Terms & Conditions</li>
          </ul>
          <p class="text-secondary mr-auto order-lg-2 pb-4 pb-lg-0 mb-0">
            © 2020. All Rights Reserved.
          </p>
        </div>
      </section>
    </footer>
    <script src="https://unpkg.com/swiper/js/swiper.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
