img {
  max-width: 100%;
}
.banner {
  height: 570px;
}
.swiper-container {
  max-width: 100%;
  height: 340px;
  @include media-breakpoint-up(lg) {
    height: 460px;
  }
}
.index-product {
  width: 240px;
  height: 240px;
  @include media-breakpoint-up(lg) {
    width: 350px;
    height: 350px;
  }
}
sup {
  top: -0.4em;
  left: -0.3em;
  font-size: 60%;
}
.card-columns {
  column-count: 2;
  @include media-breakpoint-up(md) {
    column-count: 3;
  }
  .card {
    display: inline-block;
    width: 100%;
    @include media-breakpoint-up(lg) {
      &:nth-child(1) img {
        height: 350px;
      }
      &:nth-child(2) img {
        height: 240px;
      }
      &:nth-child(3) img {
        height: 480px;
      }
      &:nth-child(4) img {
        height: 480px;
      }
      &:nth-child(5) img {
        height: 350px;
      }
      &:nth-child(6) img {
        height: 240px;
      }
      &:nth-child(7) img {
        height: 240px;
      }
      &:nth-child(8) img {
        height: 480px;
      }
      &:nth-child(9) img {
        height: 350px;
      }
    }
    img {
      width: 160px;
      height: 160px;
      @include media-breakpoint-up(lg) {
        width: 350px;
      }
    }
  }
}
.page-hover {
  color: $dark;
  &:hover {
    color: $success;
  }
}
.list-none {
  list-style-type: none;
}
.text-decoration-through {
  text-decoration: line-through;
}
.bg-banner {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week6/index-1.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  height: 640px;
  right: 0;
  top: 0;
  z-index: -1;
}
.bg-director {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week6/index-5.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px;
}
.bg-footer {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week6/footer.jpg");
  background-size: cover;
  background-position: center center;
  height: 244px;
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
}
.index-img {
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 330px;
  height: 244px;
  @include media-breakpoint-up(lg) {
    width: 540px;
    height: 400px;
  }
}
.input-group {
  max-width: 330px;
  @include media-breakpoint-up(lg) {
    width: 445px;
  }
}
.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
@media (min-width: 992px) {
  .text-lg-dark {
    color: $dark !important;
  }
  .text-lg-primary {
    color: $primary !important;
  }
  .w-lg-0 {
    width: auto !important;
  }
  .bottom-lg-0 {
    bottom: 0;
  }
  .h-lg-auto {
    height: auto;
  }
  .vh-lg-100 {
    height: 100vh !important;
  }
}
.navbar-toggler {
  border-color: rgb(255, 102, 203);
}
.font-weight-600 {
  font-weight: 600;
}
@each $name, $value in $spacers {
  @media (min-width: map-get($grid-breakpoints,lg)) {
    .font-lg-#{$name} {
      font-size: $value;
    }
  }
}
