.bg-banner {
  height: 800px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week6/index-1.jpg");
  background-size: cover;
  background-position: 650px;
  background-repeat: no-repeat;
}
