// 各類區塊的位置以及寬高調整
.banner {
  height: 570px;
}
.input-group {
  max-width: 330px;
  @include media-breakpoint-up(lg) {
    width: 445px;
  }
}
.cart {
  margin-top: -40px;
  @include media-breakpoint-up(lg) {
    position: absolute;
    right: 0;
    margin-top: 0;
    width: 50%;
  }
}
