.card-columns {
  column-count: 2;
  @include media-breakpoint-up(md) {
    column-count: 3;
  }
  .card {
    display: inline-block;
    width: 100%;
    @include media-breakpoint-up(lg) {
      &:nth-child(1) img {
        height: 350px;
      }
      &:nth-child(2) img {
        height: 240px;
      }
      &:nth-child(3) img {
        height: 480px;
      }
      &:nth-child(4) img {
        height: 480px;
      }
      &:nth-child(5) img {
        height: 350px;
      }
      &:nth-child(6) img {
        height: 240px;
      }
      &:nth-child(7) img {
        height: 240px;
      }
      &:nth-child(8) img {
        height: 480px;
      }
      &:nth-child(9) img {
        height: 350px;
      }
    }
    img {
      width: 160px;
      height: 160px;
      @include media-breakpoint-up(lg) {
        width: 350px;
        object-fit: cover;
      }
    }
  }
}
